include *.py
include LICENSE
include requirements.txt
include app/cli/*.py
include app/main/*.py
include app/main/models/*.py
include app/main/models/views/*.py
include app/main/scrape/bbref/*.py
include app/main/scrape/bbref/models/*.py
include app/main/scrape/brooks/*.py
include app/main/scrape/brooks/models/*.py
include app/main/setup/*.py
include app/main/setup/csv/*.csv
include app/main/status/*.py
include app/main/util/*.py