aenum==3.1.0
appdirs==1.4.4
appnope==0.1.2
astor==0.8.1
astpretty==2.1.0
asttokens==2.0.5
attrs==21.2.0
backcall==0.2.0
black==21.5b1
bleach==3.3.1
blessed==1.18.1
boto3==1.18.2
botocore==1.21.2
bullet==2.2.0
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
cheap-repr==0.4.5
click==7.1.2
cognitive-complexity==1.2.0
cohesion==1.0.0
colorama==0.4.4
colorclass==2.2.0
coverage==5.5
cryptography==3.4.7
dacite==1.6.0
dataclass-csv==1.3.0
DataProperty==0.52.0
decorator==5.0.9
distlib==0.3.2
docopt==0.6.2
docutils==0.17.1
enlighten==1.10.1
Events==0.4
executing==0.7.0
filelock==3.0.12
flake8==3.9.2
flake8-bugbear==21.4.3
flake8-comprehensions==3.5.0
flake8-plugin-utils==1.3.2
flake8-pytest-style==1.5.0
flake8-requirements==1.5.0
flake8-return==1.1.3
flake8-simplify==0.14.1
flake8-use-fstring==1.1
flake8-variables-names==0.0.4
getversion==1.0.2
halo==0.0.31
identify==2.2.11
idna==2.10
importlib-metadata==4.6.1
iniconfig==1.1.1
ipdb==0.13.9
ipykernel==6.0.3
ipython==7.25.0
ipython-genutils==0.2.0
isort==5.9.2
jedi==0.18.0
jeepney==0.7.0
jmespath==0.10.0
jupyter-client==6.1.12
jupyter-core==4.7.1
keyring==23.0.1
log-symbols==0.0.14
lxml==4.6.3
matplotlib-inline==0.1.2
mbstrdecoder==1.0.1
mccabe==0.6.1
more-itertools==8.8.0
mypy-extensions==0.4.3
Naked==0.1.31
nest-asyncio==1.5.1
numpy==1.21.1
packaging==21.0
parso==0.8.2
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
pip-upgrader==1.4.15
pipdeptree==2.0.0
pkginfo==1.7.1
pluggy==0.13.1
prefixed==0.3.2
prompt-toolkit==3.0.19
ptyprocess==0.7.0
py==1.10.0
py-getch==1.0.1
pycodestyle==2.7.0
pycparser==2.20
pydocstyle==6.1.1
pyfiglet==0.8.post1
pyflakes==2.3.1
Pygments==2.9.0
pyparsing==2.4.7
pytest==6.2.4
pytest-black==0.3.12
pytest-clarity==0.3.0a0
pytest-cov==2.12.1
pytest-dotenv==0.5.2
pytest-flake8==1.0.7
pytest-mock==3.6.1
pytest-random-order==1.0.4
pytest-sugar==0.9.4
pytest-verbose-parametrize==1.7.0
python-dateutil==2.8.2
python-dotenv==0.18.0
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.1.0
rapidfuzz==1.4.1
readme-renderer==29.0
regex==2021.7.6
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
s3transfer==0.5.0
scipy==1.7.0
SecretStorage==3.3.1
setuptools-scm==6.0.1
six==1.16.0
snoop==0.4.0
snowballstemmer==2.1.0
spinners==0.0.24
SQLAlchemy==1.3.23
SQLAlchemy-Utils==0.37.8
stdlib-list==0.8.0
tabledata==1.2.0
tabulate==0.8.9
termcolor==1.1.0
terminaltables==3.1.0
toml==0.10.2
tornado==6.1
tox==3.24.0
tqdm==4.61.2
traitlets==5.0.5
twine==3.4.1
typed-ast==1.4.3
typepy==1.2.0
typing-extensions==3.10.0.0
urllib3==1.26.6
virtualenv==20.6.0
w3lib==1.22.0
wcwidth==0.2.5
webencodings==0.5.1
zipp==3.5.0
